.row-align-center {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 0 0 auto;
}

nav {
	padding: 0 10px;
	justify-content: space-between;
	position: relative;
}

.menu-list,
.menu-dropdown {
	list-style-type: none;
}

.menu-list {
	gap: 50px;
}

.menu-list > li {
	width: 100px;
}

.menu {
	display: none;
}

.menu:checked + label {
	color: #ff003b;
	font-weight: bold;
	transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), font-weight 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:checked ~ .menu-dropdown {
	opacity: 1;
	max-height: 50rem;
}

.menu-dropdown {
	overflow: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	width: 150px;
	max-height: 0;
	background-color: #ffffff;
	border-left: 0.5px solid #bdbdbd;
	border-right: 0.5px solid #bdbdbd;
	border-bottom: 0.5px solid #bdbdbd;
	transition: 0.4s max-height cubic-bezier(0.4, 0, 0.2, 1),
		0.4s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-dropdown > li {
	padding: 10px;
}

.menu-dropdown > li:hover {
	background-color: #e6e4e4;
}
