@import url('./dropdown-menu.css');
@import url('./overflow-text-truncate.css');

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	min-width: 953px;
}

a {
	text-decoration: none;
	color: inherit;
}

nav {
	height: 4rem;
	border-bottom: 1px solid #bdbdbd;
}

main {
	background-color: antiquewhite;
}

footer {
	background-color: cornflowerblue;
}

.flag-img {
	width: 2rem;
	height: auto;
}
