body {
	background: linear-gradient(100deg, #ffc5c5, #f9f3cc);
}

h1 {
	font-size: 5vw;
	color: #fff;
}

.one {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20vh;
	padding-bottom: 12vh;
}

.two {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 8vh 0;
	gap: 5vh;
}

.event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40vw;
	height: 27vh;
	gap: 2vh;
	padding: 1vw;
	border-radius: 20px;
	background-color: #fff;
}

.event .type {
	color: #3eb8e6;
}

.event h2 {
	font-size: 1.5vw;
}

.event .period {
	color: #6a6a6a;
}