header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 8vh;
	padding: 0vw 5vw;
	font-size: 1.3vw;
	z-index: 99;
}

header i {
	font-size: 3vw;
}

nav {
	display: flex;
	gap: 3vw;
}