/* 메뉴 텍스트가 주어진 공간보다 길 경우, ...으로 표현*/
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 해당 텍스트에 마우스 hover 시 툴팁으로 텍스트 전체 출력 */
.truncate:hover {
	content: attr(title);
}
